@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.flex {
    display: flex;
}

.about-para {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 2;
}

/* Header styles here  */
/* nav styles here  */
.nav-container {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid red; */
    border-bottom: 2px solid #230E3D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 16px;
    background-color: #1A0B2E;

}

.nav-container .nav-pic {
    max-width: 219px;
    width: 100%;
    height: auto;
}

.nav-container .nav-pic img {
    width: 100%;
    display: block;
}

.nav-container ul {
    max-width: 218px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-container ul li {
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.nav-container .btn {
    max-width: 135px;
    width: 100%;
    padding: 12.5px;
    border-radius: 10000px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(45deg, #FFD700, #FF69B4, #8A2BE2);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-container .hamburger {
    max-width: 24px;
    width: 24px;
    height: auto;
    display: none;
}

/* banner styles here  */
.banner {
    max-width: 1600px;
    width: 100%;
    height: 760px;
}

.bg {
    max-width: 1600px;
    width: 100%;
    height: 760px;

    background-image: url(../assets/hero-bg.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -275px;
}

.img1 img {
    width: 350px;
    height: 350px;
}

.img2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -270px;
}

.img2 img {
    width: 200px;
    height: 200px;
}

.new {
    background-color: #00FF88;
    border-radius: 15px;
    color: #1A0B2E;
    font-size: 1.2rem;
    font-weight: 600;
    width: 60px;
    height: 25px;

    justify-content: center;
    align-items: center;

    position: absolute;
    margin-top: -490px;
    margin-right: -200px;
}

.b-tech {
    /* max-width: 550px;
    height: 73px; */

    font-size: 1.75rem;
    font-weight: 700;

    color: #FFFFFF;
    position: absolute;
    top: 65%;
    left: 40%;
}

.b-des {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;

    position: absolute;
    top: 75%;
    left: 32%;

}

.bg .b-btn1 {
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;

    max-width: 201px;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, #FFD700, #FF69B4, #8A2BE2);
    ;

    position: absolute;
    top: 80%;
    left: 38%;
    cursor: pointer;
}

.bg .b-btn2 {
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;

    max-width: 147px;
    width: 100%;
    height: 44px;
    border: 1px solid #00FF88;
    border-radius: 20px;
    background: none;

    position: absolute;
    top: 80%;
    left: 52%;
    cursor: pointer;
}

/* about styles here  */
.about {
    max-width: 1600px;
    width: 100%;
    height: auto;
    border: 1px solid red;
    background-color: #1A0B2E;
}

.a-des {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 50px auto 0 auto;
    border: 1px solid green;
}

.a-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.a-p4 {
    margin-top: 25px;
}

hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

.a-rate {
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.rate1,
.rate2,
.rate3,
.rate4 {
    margin-left: 80px;
}

.rate1 h1,
.rate2 h1,
.rate3 h1,
.rate4 h1 {
    color: #00FF88;
    font-size: 3rem;
}

.rate1 p,
.rate2 p,
.rate3 p,
.rate4 p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;

}

/* why styles here */
.why {
    max-width: 1600px;
    width: 100%;
    height: auto;
    border: 1px solid yellow;
    background-color: #250D44;
}

.w-container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 120px auto 120px auto;
    border: 1px solid green;
}

.w-container h5 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.g-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.88rem;
}

.card1 {
    grid-column: span 1;
    grid-row: span 2;
    padding-top: 6rem;
}

.card2 {
    grid-column: span 2;
    grid-row: span 1;
}

.card3 {
    grid-column: span 2;
    grid-row: span 1;
}

.card4 {
    grid-column: span 2;
    grid-row: span 1;
}

.card5 {
    grid-column: span 1;
    grid-row: span 1;
}

.card1 img,
.card2 img,
.card3 img,
.card4 img,
.card5 img {
    max-width: 60px;
    height: 60px;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

.card1 h6,
.card2 h6,
.card3 h6,
.card4 h6,
.card5 h6 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}

.card1 p,
.card2 p,
.card3 p,
.card4 p,
.card5 p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    opacity: 60%;
    padding-right: 20px;
}

.all {
    max-width: 760px;
    width: 100%;
    max-height: auto;
    background-color: #351165;
    border-radius: 2.5rem;
}

/* feature styles here */
.feature {
    max-width: 1600px;
    width: 100%;
    height: auto;
    border: 1px solid yellow;
    background-color: #1A0B2E;
}

.f-container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 120px auto 120px auto;
    border: 1px solid green;
}

.f-container h5 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.card-container {
    gap: 1.88rem;
    border: none;
    border-radius: 4px;
}

.all2 {
    max-width: 760px;
    width: 100%;
    max-height: auto;
    background-color: #351165;
    border-radius: 1.5rem;
}

.iframe1 iframe,
.iframe2 iframe,
.iframe3 iframe {
    border-radius: 1.5rem 1.5rem 0 0;
    margin-bottom: 1.5rem;
}

.iframe1 h6,
.iframe2 h6,
.iframe3 h6 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}

.i-p {
    max-width: 332px;
    height: 72px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    opacity: 60%;
    padding-right: 20px;
}

.clock {
    gap: 6px;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
}

.clock p {
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}

/* host styles here  */

.host {
    max-width: 1600px;
    width: 100%;
    height: auto;
    border: 1px solid yellow;
    background-color: #1A0B2E;
}

.h-container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto 120px auto;
    border: 1px solid green;

}

.h-container h5 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.h-contents {
    background-color: #351165;
    border-radius: 2.5rem;
    margin: 0 2px;
    align-items: center;
}

.h-pic {
    max-width: 200px;
    width: 100%;
    max-height: 200px;

    margin: 40px 24px 40px 40px;
}

.h-des h6 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.h-des p {
    max-width: 896px;
    height: auto;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.5rem;
    margin-bottom: 2.5rem;
    opacity: 60%;
    /* padding-right: 20px; */
}

.h-logo {
    max-width: 184px;
    width: 100%;
    height: auto;
    gap: 0.5rem;
    align-items: center;
    margin-left: 1.5rem;
}

.h-logo .logo1,
.h-logo .logo2,
.h-logo .logo3,
.h-logo .logo4 {
    max-width: 40px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 50%;

}

.h-logo img {
    width: 100%;
    display: block;
    object-fit: cover;

}

/* footer styles here  */
.foot {
    max-width: 1600px;
    width: 100%;
    height: 412px;
}

.foot-container {
    max-width: 1600px;
    width: 100%;
    height: 412px;

    background-image: url(../assets/footer-bg.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.foot-tech {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 28%;
    left: 38%;
    /* bottom: -120px; */
    /* padding: 120px; */
}

.foot-tech img {
    width: 410px;
    height: 60px;
}

.foot-logos {
    justify-content: center;
    align-items: center;
    gap: 40px;

    max-width: 544px;
    height: 24px;

    position: absolute;
    /* margin: 0 auto; */
    top: 50%;
    left: 33%;

}

.foot1,
.foot2,
.foot3,
.foot4 {
    gap: 8px;

}

.foot1 p,
.foot2 p,
.foot3 p,
.foot4 p {
    color: #FFFFFF;
    opacity: 60%;
    font-size: 1rem;
    font-weight: 500;
}

.foot-last {
    max-width: 1360px;
    width: 100%;
    height: 24px;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 45px;

}

.foot-last p {
    color: #FFFFFF;
    opacity: 60%;
    font-size: 1rem;
    font-weight: 500;
}


.none {
    display: none !important;
}



/* Responsive styles here  */
@media screen and (max-width:576px) {

    /* header responsive here  */
    /* nav responsive here */
    .nav-container .nav-pic {
        max-width: 137px;
        width: 100%;
        height: auto;
    }

    .nav-container ul {
        display: none;
    }

    .nav-container .btn {
        display: none;
    }

    .nav-container .hamburger {
        display: block;
        cursor: pointer;
    }

    /* banner responsive here  */
    .banner {
        max-width: 576px;
        width: 100%;
        height: 460px;
    }

    .bg {
        max-width: 576px;
        width: 100%;
        height: 460px;

        background-image: url(../assets/hero-bg.png);

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    .img1 {
        margin-top: -190px;
    }

    .img1 img {
        width: 200px;
        height: 200px;
    }

    .img2 {
        margin-top: -150px;
    }

    .img2 img {
        width: 80px;
        height: 80px;
    }

    .new {
        position: absolute;
        margin-top: -250px;
        margin-right: -130px;
    }

    .b-tech {
        /* max-width: 550px;
    height: 73px; */

        font-size: 1rem;
        font-weight: 600;

        color: #FFFFFF;
        position: absolute;
        top: 65%;
        left: 30%;
    }

    .b-des {
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 400;

        position: absolute;
        top: 75%;
        left: 2%;
        text-align: center;
    }

    .bg .b-btn1 {
        top: 85%;
        left: 4%;
    }

    .bg .b-btn2 {
        top: 85%;
        left: 60%;
    }

    /* about responsive here  */
    .about {
        max-width: 576px;
        width: 100%;
        height: auto;
    }

    .a-des {
        max-width: 400px;
        width: 100%;
        height: auto;
        margin: 20px auto 0 auto;
        border: 1px solid green;
    }

    .a-title {
        font-size: 2rem;
    }

    .a-p4 {
        margin-top: 10px;
    }

    .about-para {
        line-height: 1;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .a-rate {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }

    .rate1,
    .rate2,
    .rate3,
    .rate4 {
        margin-left: 10px;
    }

    .rate1 h1,
    .rate2 h1,
    .rate3 h1,
    .rate4 h1 {
        font-size: 2.5rem;
        padding-top: 10px;
    }

    .rate1 p,
    .rate2 p,
    .rate3 p,
    .rate4 p {
        margin-top: 1rem;
    }

    /* why choose responsive here  */
    .why {
        max-width: 576px;
        width: 100%;
        height: auto;
    }

    .w-container {
        max-width: 400px;
        width: 100%;
        height: auto;
        margin: 40px auto 40px auto;
        padding: 0 20px 0 20px;
    }

    .w-container h5 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .g-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .card1 img,
    .card2 img,
    .card3 img,
    .card4 img,
    .card5 img {
        max-width: 60px;
        height: 60px;
        margin-left: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    .card1 {
        padding-top: 0.5rem;
    }

    .card1 h6,
    .card2 h6,
    .card3 h6,
    .card4 h6,
    .card5 h6 {
        color: #FFFFFF;
        font-size: 1.38rem;
        font-weight: 700;
        margin-left: 2.5rem;
        margin-bottom: 1rem;
    }

    .card1 p,
    .card2 p,
    .card3 p,
    .card4 p,
    .card5 p {
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 2.5rem;
        margin-bottom: 2.5rem;
        opacity: 60%;
        padding-right: 20px;
    }

    .all {
        max-width: 760px;
        width: 100%;
        max-height: auto;
        background-color: #351165;
        border-radius: 2.5rem;
        border: 1px solid white;
    }

    /* feature responsive here  */
    .feature {
        max-width: 576px;
        width: 100%;
        height: auto;
    }

    .f-container {
        max-width: 400px;
        width: 100%;
        height: auto;
        margin: 40px auto 40px auto;
        padding: 0 20px 0 20px;
    }

    .f-container h5 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .all2 {
        max-width: 400px;
        width: 100%;
        max-height: auto;
        background-color: #351165;
        border-radius: 1.5rem;
    }

    .iframe1 iframe,
    .iframe2 iframe,
    .iframe3 iframe {
        max-width: 22.4rem;
        width: 100%;
        height: auto;
        border-radius: 1.5rem 1.5rem 0 0;
        margin-bottom: 1.5rem;
    }

    .iframe1 h6,
    .iframe2 h6,
    .iframe3 h6 {
        color: #FFFFFF;
        font-size: 1.38rem;
        font-weight: 700;
        margin-left: 2.5rem;
        margin-bottom: 1rem;
    }

    .i-p {
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 2.5rem;
        margin-bottom: 3rem;
        opacity: 60%;
        padding-right: 20px;
    }

    .clock {
        margin-left: 2.5rem;
        margin-bottom: 0.5rem;
    }

    /* host responsive here  */

    .host {
        max-width: 576px;
        width: 100%;
        height: auto;
    }

    .h-container {

        max-width: 400px;
        width: 100%;
        height: auto;
        margin: 0px auto 40px auto;
        padding: 0 20px 0 20px;

    }

    .h-container h5 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .h-contents {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .h-des {
        max-width: 352px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 24px;
        padding: 0 24px;
    }

    .h-pic {
        max-width: 200px;
        width: 100%;
        max-height: 200px;

        margin: 40px 24px 40px 40px;
    }

    .h-des h6 {
        color: #FFFFFF;
        font-size: 1.38rem;
        font-weight: 700;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
    }

    .h-des p {
        text-align: center;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 1.5rem;
        margin-bottom: 2.5rem;
        opacity: 60%;
    }

    /* footer responsive here  */
    .foot {
        max-width: 576px;
        width: 100%;
        height: 248px;
    }

    .foot-container {
        max-width: 576px;
        width: 100%;
        height: 248px;
        background-size: cover;
        background-position: center;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        position: relative;
    }

    .foot-tech {
        left: 25%;
    }

    .foot-tech img {
        width: 219px;
        height: 32px;
    }

    .foot-logos {
        gap: 16px;
        flex-wrap: wrap;

        max-width: 255px;
        height: 64px;

        position: absolute;
        top: 50%;
        left: 20%;

    }

    .foot1,
    .foot2,
    .foot3,
    .foot4 {
        gap: 8px;

    }

    .foot1 p,
    .foot2 p,
    .foot3 p,
    .foot4 p {
        font-size: 1rem;
        font-weight: 500;
    }

    .foot-last {
        width: 350px;
        height: 24px;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 70px;
        left: -50px;

    }

    .foot-last p {
        font-size: 0.8rem;
        font-weight: 400;
    }


}